/*-----------------
   MAIN
-----------------*/
main > div:not(:first-child) {
   font-size: .9rem;
}
/* Table Formatting */
th img {
   height: 1.5rem;
   margin-right: 4px;
}
th:not(:first-child), td {
   text-align: center;
}

@media screen and (min-width: 1200px) {
   main > div:not(:first-child) {
      font-size: 1rem;
   }
}